.list {
    cursor: pointer;
    padding: 20px;
    background: $color-primary;
    border-radius: 8px;
    transition: .3s;
    &:hover {
        transform: scale(1.07);
    }
}

.lists__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.list__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;

    & .section__poster {
        width: 195px;
    }
    
    & .poster__img {
        height: 270px;
    }
}

.lists__nav {
    margin-bottom: 40px;

    @include media-tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .btn__lists-item {
            margin: 0;
        }
    }
}

.list__controls {
    display: flex;
    justify-content: space-between;
}

.list__params {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list__page-number {
    @include media-tablet {
        display: none;
    }
}
