.greeting {
    width: 100%;
    height: 384px;
    border-radius: 12px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    margin: 20px auto 40px;
}

.greeting__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px;
}

.greeting__title {
    font-size: 4rem;
    line-height: normal;
}

.greeting__params {
    font-size: 1.4rem;
    color: $color-light;
}

.section__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    @include media-laptop {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(3, 32.333%);
        margin-bottom: 40px;
    }

    @include media-mobile {
        grid-template-rows: repeat(3, 33.333%);
        grid-template-columns: repeat(2, 49%);
    }

    @include media-mobilesmall {
        display: block;
    }
}

.section__poster {
    width: 168px;
    margin-top: 20px;
    transition: 0.5s;
    &:hover {
        margin-top: 10px;
        cursor: pointer;
    }

    @include media-laptop {
        width: 100%;
    }
}

.poster__img {
    width: 100%;
    height: 240px;
    border-radius: 8px;

    @include media-laptop {
        height: auto;
        aspect-ratio: 240/320;
    }
}

.poster__title {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poster__desc {
    font-size: 1.4rem;
    color: $color-light;
}

.section h2 {
    @include media-laptop {
        font-size: 3.4rem;
    }
}
