$color-primary: #122840;
// $color-additional: #1f2d7d;
$color-text: #ffffff;
$color-light: #777777;
$color-text-active: #ba9d5a;
// $color-background: linear-gradient(45deg, rgba(244,190,181,1) 0%, rgba(235,232,182,1) 15%, rgba(241,242,248,1) 50%, rgba(146,186,225,1) 85%, rgba(184,153,217,1) 100%);
$color-bg: #001424;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
