$color-primary: #122840;
$color-text: #ffffff;
$color-light: #777777;
$color-text-footer: #677f99;
$color-text-active: #ba9d5a;
$color-bg: linear-gradient(180deg, rgba(0, 20, 36, 1) 0%, rgba(7, 25, 48, 1) 100%);
$color-bg-dark: #001424;

$content-width: 1197px;
$tablet-width: 768px;
$between-tablet-and-mobile-width: 600px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
