.header {
    margin-bottom: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.logo__img {
    height: 40px;
    @media (max-width: 860px) {
        display: none;
    }
}

.logo__img_short {
    height: 40px;
    display: none;
    @media (max-width: 860px) {
        display: block;
    }
}

.header__nav {
    display: flex;
    gap: 20px;
}

.nav__item {
    &:hover {
        color: $color-text-active;
    }
}

.header__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__search {
    background-color: $color-primary;
    color: $color-text;
    width: 300px;
    height: 44px;
    padding: 10px 16px;
    border-radius: 8px;
}
