body {
   // background: url(../assets/bg/bg.jpg) 0 0 / cover no-repeat fixed;
   // color: orange;
   // font-family: Philosopher, sans-serif;
   // font-size: 14px;
   // height: 100%;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   max-width: 1960px;
   margin: 0 auto;
}

.header {
   flex: 0 1 10vh;
}

.main {
   flex: 1 1 auto;
}

.footer {
   flex: 0 1 5vh;
}
